<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center;">
  <div>
    <mat-toolbar color="primary">Welcome to my TV App</mat-toolbar>
    <div>
      Find information about your favorite shows, right now!
    </div>
    <div>
      <app-tv-show-search (searchEvent) ="doSearch($event)"></app-tv-show-search>
    </div>
    <mat-card>
      <h2>TV Show Details</h2>
      <app-tv-show-details [show]= "currentshow"></app-tv-show-details>
    </mat-card>
  </div>
</div>
